# On branch master
#	.gitignore
library/
images/
*.private
*_vault.yml
buildimage/request-base-image.json
buildimage/builder_main.vmdk
buildimage/vars/idm_userdata.yml
buildimage/vars/sat_userdata.yml
