# On branch master
#	.gitignore
library/
images/
# This file specifically must never be published to git
rhisbuilder_vault.yml
*.private
*_vault.yml
*.code-workspace
init_env/buildimage/request-base-image.json
init_env/buildimage/builder_main.vmdk
ansible.cfg
