# This config file provides examples for running
# the lab_builder playbooks with the provided
# inventory scripts.

[defaults]
# Set the log_path
log_path = ~/lab_builder_ansible.log
ansible.limit = all

# ADDED FOR foreman-ansible-modules
library = library/foreman-ansible-modules/plugins/modules
module_utils = library/foreman-ansible-modules/plugins/module_utils
doc_fragment_plugins = library/foreman-ansible-modules/plugins/doc_fragments
filter_plugins = library/foreman-ansible-modules/plugins/filter

# Uncomment to use the provided example inventory
#inventory = inventory/hosts.example

### Lab Builder ###
# using inline vaults passwords... these files exist in the bootstrap image
# vault_identity_list = /root/ansible/.lab_builder.pwd
# command_warnings = false

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed=true

# Additional ssh options for OpenShift Ansible
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
timeout = 10
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r

