# This config file provides examples for running
# the lab_builder playbooks with the provided
# inventory scripts.

[defaults]
# Set the log_path
log_path = ~/lab_builder_ansible.log
ansible.limit = all

# Additional default options for OpenShift Ansible
forks = 20
host_key_checking = False
retry_files_enabled = False
retry_files_save_path = ~/ansible_installer_retries
nocows = True
remote_user = root
roles_path = roles/:/usr/share/ansible/roles:library/ansible-freeipa/roles/
gathering = smart
fact_caching = jsonfile
fact_caching_connection = $HOME/ansible/facts
fact_caching_timeout = 600
callback_whitelist = profile_tasks
inventory_ignore_extensions = secrets.py, .pyc, .cfg, .crt, .ini
# work around privilege escalation timeouts in ansible:
timeout = 60

# ADDED FOR foreman-ansible-modules
library = library/foreman-ansible-modules/plugins/modules:library/ansible-freeipa/plugins/modules
module_utils = library/foreman-ansible-modules/plugins/module_utils:library/ansible-freeipa/plugins/module_utils
doc_fragment_plugins = library/foreman-ansible-modules/plugins/doc_fragments
filter_plugins = library/foreman-ansible-modules/plugins/filter

#vault_identity_list = ~/.ansible/vault.txt
command_warnings = false
inventory = inventory

[inventory]
# fail more helpfully when the inventory file does not parse (Ansible 2.4+)
unparsed_is_failed = true

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
timeout = 10
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r

[galaxy]
server_list = automation_hub

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/5258694-synclist/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token="eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJhZDUyMjdhMy1iY2ZkLTRjZjAtYTdiNi0zOTk4MzVhMDg1NjYifQ.eyJpYXQiOjE2NzM5OTE2MDIsImp0aSI6IjcyZmI1NzA3LWRkMDUtNDViMS04MzQ3LTI4MWQxOTMyOTE0YiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpwYXJtc3Ryb0ByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiI0ZDhkNmZmMC04MjNjLTQ3N2EtODM2OC01ODgwODBmNmQzNTciLCJzZXNzaW9uX3N0YXRlIjoiYjM3ZjQyNTAtZDg2Zi00MzAzLTkzYmQtZjgxZDk4YzJhN2Q0Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIGFwaS5pYW0ub3JnYW5pemF0aW9uIG9mZmxpbmVfYWNjZXNzIiwic2lkIjoiYjM3ZjQyNTAtZDg2Zi00MzAzLTkzYmQtZjgxZDk4YzJhN2Q0In0.Ltx7wbOPTc3ShIoTb_aVq6E8rOFNI557O8Vc3xCQM2o"

