<%#
name: SOE Kickstart Default custom packages
description: Add custom packages to build
snippet: true
model: ProvisioningTemplate
organizations:
- Default Organization
locations:
- Default Location
-%>
bash-completion
bind-utils
git
man-pages
net-tools
tmux
vim
vim-enhanced
wget
xfsdump
yum-utils
zip
