---

- name: "Get the unique list of mandatory products"
  set_fact:
    products_to_sync: "{{ repos_mandatory | map(attribute='product') | list | unique }}"

- name: "Sync the mandatory products with the CDN"
  redhat.satellite.repository_sync:
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    server_url: "{{ satellite_url }}"
    organization: "{{ satellite_initial_organization }}"
    validate_certs: "{{ satellite_validate_certs }}"
    product: "{{ item.name }}"
  loop: "{{ products_to_sync }}"

- name: "Get the unique list of optional products"
  set_fact:
    products_to_sync: "{{ repos_optional | map(attribute='product') | list | unique }}"

- name: "Sync the optional products"
  redhat.satellite.repository_sync:
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    server_url: "{{ satellite_url }}"
    organization: "{{ satellite_initial_organization }}"
    validate_certs: "{{ satellite_validate_certs }}"
    product: "{{ item.name }}"
  loop: "{{ products_to_sync }}"

